{% extends 'base.html.twig' %}

{% block title %}Hopital | Patients{% endblock %}

{% block base_content %}

      
  <div class="card mb-3">

  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5 class="mb-2">{{ patient.nom }} {{ patient.prenom }}</h5>
        
        {# <a class="btn btn-falcon-default btn-sm" href="#!"><span class="fas fa-plus fs--2 me-1"></span>Add note</a><button class="btn btn-falcon-default btn-sm dropdown-toggle ms-2 dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></button>
        <div class="dropdown-menu"><a class="dropdown-item" href="#">Edit</a><a class="dropdown-item" href="#">Report</a><a class="dropdown-item" href="#">Archive</a>
          <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#">Delete user</a>
        </div> #}

      </div>
      
      {# <div class="col-auto d-none d-sm-block">
        <h6 class="text-uppercase text-600">Customer<span class="fas fa-user ms-2"></span></h6>
      </div> #}
    </div>
  </div>

  {# <div class="card-body border-top">
    <div class="d-flex"><span class="fas fa-user text-success me-2" data-fa-transform="down-5"></span>
      <div class="flex-1">
        <p class="mb-0">Customer was created</p>
        <p class="fs--1 mb-0 text-600">Jan 12, 11:13 PM</p>
      </div>
    </div>
  </div> #}

</div>

<div class="card mb-3">

  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="mb-0">Details</h5>
      </div>
      <div class="col-auto">

       

        <button class="btn btn-falcon-default btn-sm btnEditRow" data-row-id="{{ patient.id }}" type="button" data-bs-toggle="modal" data-bs-target="#addPatientModal">
						<span class="fas fa-pencil-alt fs--2 me-1"></span>Modifier
				</button>

      </div>
    </div>
  </div>

  <div class="card-body bg-light border-top">
    <div class="row">
      <div class="col-lg col-xxl-5">
        {# <h6 class="fw-semi-bold ls mb-3 text-uppercase">Account Information</h6> #}
        <div class="row">
          <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">NOM</p>
          </div>
          <div class="col">{{ patient.nom }} </div>
        </div>
        <div class="row">
          <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">PRENOM</p>
          </div>
          <div class="col">{{ patient.prenom }}</div>
        </div>
        <div class="row">
          <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">CONTACT</p>
          </div>
          <div class="col"><a href="#">{{ patient.contact }}</a></div>
        </div>
        <div class="row">
          <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">ADRESSE</p>
          </div>
          <div class="col">
            <p class="fst-italic text-400 mb-1">{{ patient.adresse }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-0">CREE LE</p>
          </div>
          <div class="col">
            <p class="fst-italic text-400 mb-0">{{ patient.date|date('Y-m-d H:i:s') }}</p>
          </div>
        </div>
      </div>
{#       
      <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
        <h6 class="fw-semi-bold ls mb-3 text-uppercase">Billing Information</h6>
        <div class="row">
          <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">Send email to</p>
          </div>
          <div class="col"><a href="mailto:tony@gmail.com">tony@gmail.com</a></div>
        </div>
        <div class="row">
          <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">Address</p>
          </div>
          <div class="col">
            <p class="mb-1">8962 Lafayette St. <br />Oswego, NY 13126</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">Phone number</p>
          </div>
          <div class="col"><a href="tel:+12025550110">+1-202-555-0110</a></div>
        </div>
        <div class="row">
          <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-0">Invoice prefix</p>
          </div>
          <div class="col">
            <p class="fw-semi-bold mb-0">7C23435</p>
          </div>
        </div>
      </div> #}
    </div>
  </div>

  {# <div class="card-footer border-top text-end"><a class="btn btn-falcon-default btn-sm" href="#!"><span class="fas fa-dollar-sign fs--2 me-1"></span>Refund</a><a class="btn btn-falcon-default btn-sm ms-2" href="#!"><span class="fas fa-check fs--2 me-1"></span>Save changes</a></div> #}

</div>

<div class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0">Liste des rendez vous </h5>
  </div>
  <div class="card-body border-top p-0">


      <div class="table-responsive scrollbar">
          <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
              <thead class="bg-200 text-900">
              <tr>

                  <th class="sort pe-1 align-middle white-space-nowrap" data-sort="order">Code</th>
                  <th class="sort pe-1 align-middle white-space-nowrap" data-sort="patient">Patient</th>
                  <th class="sort pe-1 align-middle white-space-nowrap pe-7" data-sort="date">Date</th>
                  <th class="sort pe-1 align-middle white-space-nowrap" data-sort="address" style="min-width: 12.5rem;">Prestation</th>
                  <th class="sort pe-1 align-middle white-space-nowrap" data-sort="address" style="min-width: 12.5rem;">Commentaires</th>
                  <th class="sort pe-1 align-middle white-space-nowrap text-center" data-sort="status">Status</th>
                  <th class="sort pe-1 align-middle white-space-nowrap text-end" data-sort="amount">Part Assurance</th>
                  <th class="sort pe-1 align-middle white-space-nowrap text-end" data-sort="amount">Espece</th>
                  <th class="no-sort"></th>
              </tr>
              </thead>
              <tbody class="list" id="table-orders-body">

              {% for rendezVousItem in rendezVous %}
                  <tr class="btn-reveal-trigger">

                      <td class="order py-2 align-middle white-space-nowrap">

                          <a href="{{ path('meetings_ctrl_find') }}?code={{ rendezVousItem.id }}"><strong>{{ rendezVousItem.code }}</strong></a>

                      <td class="patient py-2 align-middle">{{rendezVousItem.fkPatient?rendezVousItem.fkPatient.nom:"" }} </td>
                      <td class="date py-2 align-middle">{{rendezVousItem.dateRendezVous|date('Y-m-d') }} </td>
                      <td class="address py-2 align-middle white-space-nowrap">
                          {% for cotation in rendezVousItem.tRendezPrestations|filter(v=> v.state is same as(true)) %}
                              {% if cotation.state is same as(true) %}
                                  <strong>{{ cotation.fkPrestation.libelle }}</strong>
                              {% endif %}
                          {% endfor %}
                      </td>
                      <td class="address py-2 align-middle white-space-nowrap">

                          {{rendezVousItem.diagnostic }}

                      </td>
                      <td class="status py-2 align-middle text-center fs-0 white-space-nowrap">{{ rendezVousItem.statutTextClassName|raw }}</td>
                      <td class="amount py-2 text-end fs-0 fw-medium text-nowrap">
                          {% for cotation in rendezVousItem.tRendezPrestations|filter(v=> v.state is same as(true)) %}
                              {% if cotation.state is same as(true)%}
                                  {{ cotation.partAssurance|number_format }} FCFA   <span class="fas fa-money-bill-alt text-success"></span>
                              {% endif %}
                          {% endfor %}
                      </td>
                      <td class="amount py-2  text-end fs-0 fw-medium text-nowrap">
                          {% for cotation in rendezVousItem.tRendezPrestations|filter(v=> v.state is same as(true)) %}
                              {% if cotation.state is same as(true)%}
                                  {{ cotation.partPatient|number_format }} FCFA   <span class="fas fa-money-bill-alt text-success"></span>
                              {% endif %}
                          {% endfor %}
                      </td>
                      <td class="py-2 align-middle white-space-nowrap text-end">
                          <div class="dropdown font-sans-serif position-static"><button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" id="order-dropdown-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                              <div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="order-dropdown-0">
                                  <div class="bg-white py-2"><a class="dropdown-item" href="#!">Completed</a><a class="dropdown-item" href="#!">Processing</a><a class="dropdown-item" href="#!">On Hold</a><a class="dropdown-item" href="#!">Pending</a>
                                      <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Delete</a>
                                  </div>
                              </div>
                          </div>
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>


</div>



<div class="modal fade" id="editPatientModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content border">

				<div class="modal-header px-card bg-primary border-bottom-0">
					<h5 class="modal-title text-white">Mise à jour patient</h5>
					<button class="btn-close me-n1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-card">
          <input class="form-control" type="text" id="fnPatientId" required="required" hidden/>

					<div class="mb-3">
						<label class="fs-0" for="fnPatientNom">Nom</label>
						<input class="form-control fnPatient" id="fnPatientNom" type="text" required="required" name="fnPatientNom"/>
					</div>
					<div class="mb-3">
						<label class="fs-0" for="fnPatientPrenom">Prenom</label><input class="form-control fnPatient" id="fnPatientPrenom" type="text" name="fnPatientPrenom"/></div>

					<div class="mb-3">
						<label class="fs-0" for="fnPatientContact">Contact</label><input class="form-control fnPatient" id="fnPatientContact" type="text" required="required" name="fnPatientContact"/></div>
					<div class="mb-3">
						<label class="fs-0" for="fnPatientAdresse">Adresse</label><input class="form-control fnPatient" id="fnPatientAdresse" type="text" name="fnPatientAdresse"/></div>

				</div>

				<div class="card-footer d-flex justify-content-end align-items-center bg-light">

					<button class="btn btn-primary px-4" id="btnUpdatePatient" type="button">Mise à jour</button>

				</div>

			</div>
		</div>
	</div>
  
{% endblock %}
{% block addjs %}


  <script>

  $(function() {

    let  btnUpdateService = $('#btnUpdatePatient')
  


    function UpdatePatient() {
      
        let form = JSON.stringify({
            id:  $('#fnPatientId').val(),
            nom: $('#fnPatientNom').val(),
            prenom: $('#fnPatientPrenom').val(),
            contact: $('#fnPatientContact').val(),
            adresse: $('#fnPatientAdresse').val()

        })

        requestPost('{{ path('patients_ctrl_update') }}', form, '.fePatient', '#btnUpdatePatient').then(() => {
            iziToast.destroy();
            iziToast.success({
                title: 'Succès',
                message: "La patient a été modifié avec succès",
                position: 'topRight',
            });
            location.reload();

           // Turbolinks.visit(window.location.toString());
        });
    }

    btnUpdateService.on('click', function (){
        UpdatePatient();
    });

    $('.btnEditRow').on('click', function (){
        let dataRowId = $(this).data('row-id');
        requestGet('{{ path('patients_ctrl_find') }}?code=' + dataRowId).then((data) => {
            
           console.log('row',dataRowId )
            $('#fnPatientId').val(data.id);
            $('#fnPatientNom').val(data.nom);
            $('#fnPatientPrenom').val(data.prenom);
            $('#fnPatientContact').val(data.contact);
            $('#fnPatientAdresse').val(data.adresse);
            
            $('#editPatientModal').modal('show');

        });
    });

 
  })
</script>

{% endblock %}