{% extends 'base.html.twig' %}

{% block title %}Hopital | Rendez-Vous
{% endblock %}

{% block base_content %}


	<div class="card mb-3 overflow-hidden">
		<div class="card-header">
			<div class="row gx-0 align-items-center">
				<div class="col-auto d-flex justify-content-end order-md-1">
					<button class="btn icon-item icon-item-sm shadow-none p-0 me-1 ms-md-2" type="button" data-event="prev" data-bs-toggle="tooltip" title="Previous">
						<span class="fas fa-arrow-left"></span>
					</button>
					<button class="btn icon-item icon-item-sm shadow-none p-0 me-1 me-lg-2" type="button" data-event="next" data-bs-toggle="tooltip" title="Next">
						<span class="fas fa-arrow-right"></span>
					</button>
				</div>
				<div class="col-auto col-md-auto order-md-2">
					<h4 class="mb-0 fs-0 fs-sm-1 fs-lg-2 calendar-title"></h4>
				</div>
				<div class="col col-md-auto d-flex justify-content-end order-md-3">
					<button class="btn btn-falcon-primary btn-sm" type="button" data-event="today">Aujourd'hui</button>
				</div>
				<div class="col-md-auto d-md-none">
					<hr/>
				</div>
				<div class="col-auto d-flex order-md-0">

					<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#addEventModal">
						<span class="fas fa-plus me-2"></span>Creer un rendez-vous
					</button>
				
				</div>
    
				<div class="col d-flex justify-content-end order-md-2">

        <div class="dropdown font-sans-serif me-md-2">
          <button class="btn btn-falcon-default text-600 btn-sm dropdown-toggle dropdown-caret-none" type="button" id="email-filter" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
            <span data-view-title="data-view-title">Vue Mois</span><span class="fas fa-sort ms-2 fs--1"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="email-filter">
            <a class="active dropdown-item d-flex justify-content-between" href="#!" data-fc-view="dayGridMonth">Vue Mois
              <span class="icon-check">
                <span class="fas fa-check" data-fa-transform="down-4 shrink-4"></span>
              </span></a><a class="dropdown-item d-flex justify-content-between" href="#!" data-fc-view="timeGridWeek">Vue Semaine<span class="icon-check"><span class="fas fa-check" data-fa-transform="down-4 shrink-4"></span></span></a><a class="dropdown-item d-flex justify-content-between" href="#!" data-fc-view="timeGridDay">Vue Jour<span class="icon-check"><span class="fas fa-check" data-fa-transform="down-4 shrink-4"></span></span></a><a class="dropdown-item d-flex justify-content-between" href="#!" data-fc-view="listWeek">Vue Detail<span class="icon-check"><span class="fas fa-check" data-fa-transform="down-4 shrink-4"></span></span></a><a class="dropdown-item d-flex justify-content-between" href="#!" data-fc-view="listYear">Vue Annee<span class="icon-check"><span class="fas fa-check" data-fa-transform="down-4 shrink-4"></span></span></a></div>
      </div>
					<button class="btn btn-primary btn-sm me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#addPatientModal">
						<span class="far fa-address-card me-2"></span>Patient</button>


				</div>

			</div>
		</div>
		<div class="card-body p-0">
			<div class="calendar-outline" id="meetingCalendar"></div>
		</div>
	</div>

	<div class="modal fade" id="addEventModal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content border">
				<form id="addEventForm" autocomplete="off">
					<div class="modal-header px-card bg-primary border-bottom-0">
						<h5 class="modal-title text-white">Créer un rendez-vous</h5>
						<button class="btn-close me-n1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body p-card">


						<div class="row">

							<div class="mb-3 col-6">

								<label class="fs-0" for="fnMeetingMedecin">Medecin</label>

								<select class="form-select fnMeeting js-choice" id="fnMeetingMedecin" size="1"  data-options='{"removeItemButton":true,"placeholder":true}'>
									<option value="" selected="selected">----</option>
									{% for medecin in medecins %}
										<option value="{{ medecin.id }}" >{{ medecin.nom }} {{ medecin.prenom }}</option>
									{% endfor %}
								</select>
							</div>

							<div class="mb-3 col-6">

								<label class="fs-0" for="fnMeetingPatient">Patient</label>

								<select class="form-select fnMeeting js-choice" id="fnMeetingPatient" size="1" data-options='{"removeItemButton":true,"placeholder":true}'>
									<option value="" selected="selected">----</option>
									{% for patient in patients %}
										<option value="{{ patient.id }}" >{{ patient.nom }} {{ patient.prenom }}</option>
									{% endfor %}
								</select>

							</div>

							<div class="mb-3 col-6">

							<label class="fs-0" for="fnMeetingAssurance">Assurance</label>

							<select class="form-select fnMeeting js-choice" id="fnMeetingAssurance" size="1"  data-options='{"removeItemButton":true,"placeholder":true}'>
								<option value="" selected="selected">----</option>

								{% for assurance in assurances %}
									<option value="{{ assurance.id }}" >{{ assurance.libelle }}</option>
								{% endfor %}
							</select>

						</div>
						<div class="mb-3 col-6">
							<label class="fs-0" for="fnMeetingDate">Date de rendez-vous</label>
							<input class="form-control datetimepicker flatpickr-input fnMeeting" id="fnMeetingDate" value="{{ 'now'|date('Y-m-d') }}"  type="date" required="required" name="startDate" />
						</div>
							<div class="mb-3 col-12">

							<label class="fs-0" for="fnMeetingPrestation">Prestation</label>

							<select class="form-select fnMeeting js-choice" id="fnMeetingPrestation"  size="1"  data-options='{"removeItemButton":true,"placeholder":true}'>
								<option value="" ">----</option>

								{% for prestation in prestations %}
									<option value="{{ prestation.id }}" >{{ prestation.libelle }}</option>
								{% endfor %}
							</select>

						</div>
						
						

					

							<div class="mb-3 col-12">
								<label class="fs-0" for="fnMeetingPourcentage"> % Assurance</label>
								<input class="form-control fnMeeting " id="fnMeetingPourcentage" type="number" max="100" required="required" />
							</div>


						
              				

							<div class="mb-3">
								<label class="fs-0" for="fnMeetingDescription">Commentaire</label>
								<textarea class="form-control fnMeeting" rows="3" id="fnMeetingDescription"></textarea>
							</div>

						</div>


					</div>

					<div class="card-footer d-flex justify-content-end align-items-center bg-light">

						<button class="btn btn-primary px-4" id="btnCreateMeeting" type="button">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="modal fade" id="addPatientModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content border">

				<div class="modal-header px-card bg-primary border-bottom-0">
					<h5 class="modal-title text-white">Creer un nouveau patient</h5>
					<button class="btn-close me-n1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-card">

					<div class="mb-3">
						<label class="fs-0" for="fnPatientNom">Nom</label>
						<input class="form-control fnPatient" id="fnPatientNom" type="text" required="required" name="fnPatientNom"/>
					</div>
					<div class="mb-3">
						<label class="fs-0" for="fnPatientPrenom">Prenom</label><input class="form-control fnPatient" id="fnPatientPrenom" type="text" name="fnPatientPrenom"/></div>

					<div class="mb-3">
						<label class="fs-0" for="fnPatientContact">Contact</label><input class="form-control fnPatient" id="fnPatientContact" type="text" required="required" name="fnPatientContact"/></div>
					<div class="mb-3">
						<label class="fs-0" for="fnPatientAdresse">Adresse</label><input class="form-control fnPatient" id="fnPatientAdresse" type="text" name="fnPatientAdresse"/></div>

				</div>

				<div class="card-footer d-flex justify-content-end align-items-center bg-light">

					<button class="btn btn-primary px-4" id="btnCreatePatient" type="button">Enregistrer</button>

				</div>

			</div>
		</div>
	</div>

{% endblock %}
{% block addjs %}
	<script>

		$(function () {

			let btnCreatePatient = $('#btnCreatePatient'), btnCreateMeeting = $('#btnCreateMeeting')


			function CreatePatient() {

				let form = JSON.stringify({
				nom: $('#fnPatientNom').val(),
				prenom: $('#fnPatientPrenom').val(), 
				contact: $('#fnPatientContact').val(), 
				adresse: $('#fnPatientAdresse').val()})

				console.log("form", form)
				requestPost('{{ path('patients_ctrl_create') }}', form, '.fnPatient', '#btnCreatePatient').then(() => 
				{
					iziToast.destroy();
					iziToast.success({title: 'Succès', message: "Le patient a été créé avec succès", position: 'topRight'});
					location.reload();

				});
			}

			function CreateMeeting() {

				let form = JSON.stringify({
				fk_medecin: $('#fnMeetingMedecin').val(),
				fk_patient: $('#fnMeetingPatient').val(),
				fk_assurance: $('#fnMeetingAssurance').val(),
				fk_prestation: $('#fnMeetingPrestation').val(),
				pourcentage: $('#fnMeetingPourcentage').val(),
				date_rendez_vous: $('#fnMeetingDate').val(),
				description: $('#fnMeetingDescription').val(),
				

				})

				console.log("form", form)
				requestPost('{{ path('meetings_ctrl_create') }}', form, '.fnMeeting', '#btnCreatePatient').then(() => 
				{
					iziToast.destroy();
					iziToast.success({title: 'Succès', message: "Le patient a été créé avec succès", position: 'topRight'});
					location.reload();

				});
			}

			btnCreatePatient.on('click', function () {

				CreatePatient();
			});


			btnCreateMeeting.on('click', function () {

			CreateMeeting();
			});

			var events = [

				{% for rendezVousItem in rendezVous %}

					{
				title: "{{ rendezVousItem.code }}",
				start: "{{ rendezVousItem.dateRendezVous|date('Y-m-d') }}",
				
				description: 'The starting of the programming contest',
				className: '{{ rendezVousItem.statutTextClassName }}',
				url: 'http://google.com'
				}, 

				{% endfor %}

				];

			var meetingCalendarInit = function meetingCalendarInit() {

				var Selectors = {
				ACTIVE: '.active',
				ADD_EVENT_FORM: '#addEventForm',
				ADD_EVENT_MODAL: '#addEventModal',
				CALENDAR: '#meetingCalendar',
				CALENDAR_TITLE: '.calendar-title',
				DATA_CALENDAR_VIEW: '[data-fc-view]',
				DATA_EVENT: '[data-event]',
				DATA_VIEW_TITLE: '[data-view-title]',
				EVENT_DETAILS_MODAL: '#eventDetailsModal',
				EVENT_DETAILS_MODAL_CONTENT: '#eventDetailsModal .modal-content',
				EVENT_START_DATE: '#addEventModal [name="startDate"]',
				INPUT_TITLE: '[name="title"]'
				};
				var Events = {
				CLICK: 'click',
				SHOWN_BS_MODAL: 'shown.bs.modal',
				SUBMIT: 'submit'
				};
				var DataKeys = {
				EVENT: 'event',
				FC_VIEW: 'fc-view'
				};
				var ClassNames = {
				ACTIVE: 'active'
				};
				var eventList = events.reduce(function (acc, val) {
				return val.schedules ? acc.concat(val.schedules.concat(val)) : acc.concat(val);
				}, []);
			
				var updateTitle = function updateTitle(title) {
				document.querySelector(Selectors.CALENDAR_TITLE).textContent = title;
				};
			
				var meetingCalendar = document.querySelector(Selectors.CALENDAR);
				var addEventForm = document.querySelector(Selectors.ADD_EVENT_FORM);
				var addEventModal = document.querySelector(Selectors.ADD_EVENT_MODAL);
				var eventDetailsModal = document.querySelector(Selectors.EVENT_DETAILS_MODAL);
			
				if (meetingCalendar) {
				var calendar = renderCalendar(meetingCalendar, {
					headerToolbar: false,
					dayMaxEvents: 2,
					height: 800,
					stickyHeaderDates: false,
					views: {
					week: {
						eventLimit: 3
					}
					},
					eventTimeFormat: {
					hour: 'numeric',
					minute: '2-digit',
					omitZeroMinute: true,
					meridiem: true
					},
					events: eventList,
					eventClick: function eventClick(info) {
					if (info.event.url) {
						window.open(info.event.url, '_blank');
						info.jsEvent.preventDefault();
					} else {
						var template = getTemplate(info.event);
						document.querySelector(Selectors.EVENT_DETAILS_MODAL_CONTENT).innerHTML = template;
						var modal = new window.bootstrap.Modal(eventDetailsModal);
						modal.show();
					}
					},
					dateClick: function dateClick(info) {
					var modal = new window.bootstrap.Modal(addEventModal);
					modal.show();
					/*eslint-disable-next-line*/
			
					var flatpickr = document.querySelector(Selectors.EVENT_START_DATE)._flatpickr;
			
					flatpickr.setDate([info.dateStr]);
					}
				});
				updateTitle(calendar.currentData.viewTitle);
				document.querySelectorAll(Selectors.DATA_EVENT).forEach(function (button) {
					button.addEventListener(Events.CLICK, function (e) {
					var el = e.currentTarget;
					var type = utils.getData(el, DataKeys.EVENT);
			
					switch (type) {
						case 'prev':
						calendar.prev();
						updateTitle(calendar.currentData.viewTitle);
						break;
			
						case 'next':
						calendar.next();
						updateTitle(calendar.currentData.viewTitle);
						break;
			
						case 'today':
						calendar.today();
						updateTitle(calendar.currentData.viewTitle);
						break;
			
						default:
						calendar.today();
						updateTitle(calendar.currentData.viewTitle);
						break;
					}
					});
				});
				document.querySelectorAll(Selectors.DATA_CALENDAR_VIEW).forEach(function (link) {
					link.addEventListener(Events.CLICK, function (e) {
					e.preventDefault();
					var el = e.currentTarget;
					var text = el.textContent;
					el.parentElement.querySelector(Selectors.ACTIVE).classList.remove(ClassNames.ACTIVE);
					el.classList.add(ClassNames.ACTIVE);
					document.querySelector(Selectors.DATA_VIEW_TITLE).textContent = text;
					calendar.changeView(utils.getData(el, DataKeys.FC_VIEW));
					updateTitle(calendar.currentData.viewTitle);
					});
				});
				addEventForm && addEventForm.addEventListener(Events.SUBMIT, function (e) {
					e.preventDefault();
					var _e$target = e.target,
						title = _e$target.title,
						startDate = _e$target.startDate,
						endDate = _e$target.endDate,
						label = _e$target.label,
						description = _e$target.description,
						allDay = _e$target.allDay;
					calendar.addEvent({
					title: title.value,
					start: startDate.value,
					end: endDate.value ? endDate.value : null,
					allDay: allDay.checked,
					className: allDay.checked && label.value ? "bg-soft-".concat(label.value) : '',
					description: description.value
					});
					e.target.reset();
					window.bootstrap.Modal.getInstance(addEventModal).hide();
				});
				}
			
				
			};

			docReady(meetingCalendarInit);

		})
	</script>
{% endblock %}
