{% extends 'base.html.twig' %}

{% block title %}Hopital | Rendez-Vous
{% endblock %}

{% block base_content %}


{#	<div class="card mb-3">#}
{#		<div class="card-body">#}
{#			<div class="row justify-content-between align-items-center">#}
{#				<div class="col-md">#}
{#					<h5 class="mb-2 mb-md-0 text-nowrap">Rendez-vous {{ rendezVous.code }}</h5>#}
{#				</div>#}

{#				<div class="col-md">#}
{#					<button class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" type="button">#}
{#						<span class="fas fa-arrow-down me-1"> </span>Download (.pdf)</button>#}
{#					<button class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" type="button">#}
{#						<span class="fas fa-print me-1"> </span>Print</button>#}


{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}

	<div class="row g-0">
		<div class="col-lg-8">
			<div class="card mb-3">
				<div class="card-header bg-primary text-dark">
					<p class="fs--1 mb-0"><strong>{{ rendezVous.code }}</strong>
					</p>
				</div>
				<div class="card-body">

					<div class="row align-items-center">
						<div class="col">
							<h6 class="text-500">Patient </h6>
							<h5>{{ rendezVous.fkPatient?rendezVous.fkPatient.nom:"" }}</h5>

						</div>
						<div class="col-sm-auto ms-auto">
							<div class="table-responsive">
								<table class="table table-sm table-borderless fs--1">
									<tbody>
									<tr>
										<th class="text-sm-end">Invoice No:</th>
										<td>14</td>
									</tr>
									<tr>
										<th class="text-sm-end">Order Number:</th>
										<td>AD20294</td>
									</tr>
									<tr>
										<th class="text-sm-end">Invoice Date:</th>
										<td>2018-09-25</td>
									</tr>
									<tr>
										<th class="text-sm-end">Payment Due:</th>
										<td>Upon receipt</td>
									</tr>
									<tr class="alert-success fw-bold">
										<th class="text-sm-end">Amount Due:</th>
										<td>$19688.40</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					{#			<div class="table-responsive scrollbar mt-4 fs--1">#}
					{#				<table class="table table-striped border-bottom">#}
					{#					<thead class="light">#}
					{#					<tr class="bg-primary text-white dark__bg-1000">#}
					{#						<th class="border-0">Products</th>#}
					{#						<th class="border-0 text-center">Quantity</th>#}
					{#						<th class="border-0 text-end">Rate</th>#}
					{#						<th class="border-0 text-end">Amount</th>#}
					{#					</tr>#}
					{#					</thead>#}
					{#					<tbody>#}
					{#					<tr>#}
					{#						<td class="align-middle">#}
					{#							<h6 class="mb-0 text-nowrap">Platinum web hosting package</h6>#}
					{#							<p class="mb-0">Down 35mb, Up 100mb</p>#}
					{#						</td>#}
					{#						<td class="align-middle text-center">2</td>#}
					{#						<td class="align-middle text-end">$65.00</td>#}
					{#						<td class="align-middle text-end">$130.00</td>#}
					{#					</tr>#}
					{#					<tr>#}
					{#						<td class="align-middle">#}
					{#							<h6 class="mb-0 text-nowrap">2 Page website design</h6>#}
					{#							<p class="mb-0">Includes basic wireframes and responsive templates</p>#}
					{#						</td>#}
					{#						<td class="align-middle text-center">1</td>#}
					{#						<td class="align-middle text-end">$2,100.00</td>#}
					{#						<td class="align-middle text-end">$2,100.00</td>#}
					{#					</tr>#}
					{#					<tr>#}
					{#						<td class="align-middle">#}
					{#							<h6 class="mb-0 text-nowrap">Mobile App Development</h6>#}
					{#							<p class="mb-0">Includes responsive navigation</p>#}
					{#						</td>#}
					{#						<td class="align-middle text-center">8</td>#}
					{#						<td class="align-middle text-end">$5,00.00</td>#}
					{#						<td class="align-middle text-end">$4,000.00</td>#}
					{#					</tr>#}
					{#					<tr>#}
					{#						<td class="align-middle">#}
					{#							<h6 class="mb-0 text-nowrap">Web App Development</h6>#}
					{#							<p class="mb-0">Includes react spa</p>#}
					{#						</td>#}
					{#						<td class="align-middle text-center">6</td>#}
					{#						<td class="align-middle text-end">$2,000.00</td>#}
					{#						<td class="align-middle text-end">$12,000.00</td>#}
					{#					</tr>#}
					{#					</tbody>#}
					{#				</table>#}
					{#			</div>#}
					{#			<div class="row justify-content-end">#}
					{#				<div class="col-auto">#}
					{#					<table class="table table-sm table-borderless fs--1 text-end">#}
					{#						<tr>#}
					{#							<th class="text-900">Subtotal:</th>#}
					{#							<td class="fw-semi-bold">$18,230.00 </td>#}
					{#						</tr>#}
					{#						<tr>#}
					{#							<th class="text-900">Tax 8%:</th>#}
					{#							<td class="fw-semi-bold">$1458.40</td>#}
					{#						</tr>#}
					{#						<tr class="border-top">#}
					{#							<th class="text-900">Total:</th>#}
					{#							<td class="fw-semi-bold">$19688.40</td>#}
					{#						</tr>#}
					{#						<tr class="border-top border-top-2 fw-bolder text-900">#}
					{#							<th>Amount Due:</th>#}
					{#							<td>$19688.40</td>#}
					{#						</tr>#}
					{#					</table>#}
					{#				</div>#}
					{#			</div>#}
				</div>

			</div>
		</div>
		<div class="col-lg-4 ps-lg-2">

			<div class="card mb-3">
				<div class="card-header bg-primary text-dark">
					<h5 class="mb-0"> <strong> Paiement</strong> </h5>
				</div>
				<div class="card-body fs--1">
					<div class="d-flex btn-reveal-trigger">
						<div class="calendar"><span class="calendar-month">Feb</span><span class="calendar-day">21</span></div>
						<div class="flex-1 position-relative ps-3">
							<h6 class="fs-0 mb-0"><a href="event-detail.html">Newmarket Nights</a></h6>
							<p class="mb-1">Organized by <a href="#!" class="text-700">University of Oxford</a></p>
							<p class="text-1000 mb-0">Time: 6:00AM</p>
							<p class="text-1000 mb-0">Duration: 6:00AM - 5:00PM</p>Place: Cambridge Boat Club, Cambridge<div class="border-dashed-bottom my-3"></div>
						</div>
					</div>
					<div class="d-flex btn-reveal-trigger">
						<div class="calendar"><span class="calendar-month">Dec</span><span class="calendar-day">31</span></div>
						<div class="flex-1 position-relative ps-3">
							<h6 class="fs-0 mb-0"><a href="event-detail.html">31st Night Celebration</a></h6>
							<p class="mb-1">Organized by <a href="#!" class="text-700">Chamber Music Society</a></p>
							<p class="text-1000 mb-0">Time: 11:00PM</p>
							<p class="text-1000 mb-0">280 people interested</p>Place: Tavern on the Greend, New York<div class="border-dashed-bottom my-3"></div>
						</div>
					</div>
					<div class="d-flex btn-reveal-trigger">
						<div class="calendar"><span class="calendar-month">Dec</span><span class="calendar-day">16</span></div>
						<div class="flex-1 position-relative ps-3">
							<h6 class="fs-0 mb-0"><a href="event-detail.html">Folk Festival</a></h6>
							<p class="mb-1">Organized by <a href="#!" class="text-700">Harvard University</a></p>
							<p class="text-1000 mb-0">Time: 9:00AM</p>
							<p class="text-1000 mb-0">Location: Cambridge Masonic Hall Association</p>Place: Porter Square, North Cambridge
						</div>
					</div>
				</div>
				<div class="card-footer bg-light p-0 border-top"><a class="btn btn-link d-block w-100" href="event-list.html">All Events<span class="fas fa-chevron-right ms-1 fs--2"></span></a></div>
			</div>
		</div>
	</div>




	<div class="modal fade" id="addEventModal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content border">
				<form id="addEventForm" autocomplete="off">
					<div class="modal-header px-card bg-primary border-bottom-0">
						<h5 class="modal-title text-white">Créer un rendez-vous</h5>
						<button class="btn-close me-n1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body p-card">


						<div class="row">

							<div class="mb-3 col-6">

								<label class="fs-0" for="fnMeetingMedecin">Medecin</label>

								<select class="form-select fnMeeting js-choice" id="fnMeetingMedecin" size="1"  data-options='{"removeItemButton":true,"placeholder":true}'>
									<option value="" selected="selected">----</option>
									{% for medecin in medecins %}
										<option value="{{ medecin.id }}" >{{ medecin.nom }} {{ medecin.prenom }}</option>
									{% endfor %}
								</select>
							</div>

							<div class="mb-3 col-6">

								<label class="fs-0" for="fnMeetingPatient">Patient</label>

								<select class="form-select fnMeeting js-choice" id="fnMeetingPatient" size="1" data-options='{"removeItemButton":true,"placeholder":true}'>
									<option value="" selected="selected">----</option>
									{% for patient in patients %}
										<option value="{{ patient.id }}" >{{ patient.nom }} {{ patient.prenom }}</option>
									{% endfor %}
								</select>

							</div>

							<div class="mb-3 col-6">

							<label class="fs-0" for="fnMeetingAssurance">Assurance</label>

							<select class="form-select fnMeeting js-choice" id="fnMeetingAssurance" size="1"  data-options='{"removeItemButton":true,"placeholder":true}'>
								<option value="" selected="selected">----</option>

								{% for assurance in assurances %}
									<option value="{{ assurance.id }}" >{{ assurance.libelle }}</option>
								{% endfor %}
							</select>

						</div>
						<div class="mb-3 col-6">
							<label class="fs-0" for="fnMeetingDate">Date de rendez-vous</label>
							<input class="form-control datetimepicker flatpickr-input fnMeeting" id="fnMeetingDate" value="{{ 'now'|date('Y-m-d') }}"  type="date" required="required" name="startDate" />
						</div>
							<div class="mb-3 col-12">

							<label class="fs-0" for="fnMeetingPrestation">Prestation</label>

							<select class="form-select fnMeeting js-choice" id="fnMeetingPrestation"  size="1"  data-options='{"removeItemButton":true,"placeholder":true}'>
								<option value="">----</option>

								{% for prestation in prestations %}
									<option value="{{ prestation.id }}" >{{ prestation.libelle }}</option>
								{% endfor %}
							</select>

						</div>





							<div class="mb-3 col-12">
								<label class="fs-0" for="fnMeetingPourcentage"> % Assurance</label>
								<input class="form-control fnMeeting " id="fnMeetingPourcentage" type="number" max="100" required="required" />
							</div>





							<div class="mb-3">
								<label class="fs-0" for="fnMeetingDescription">Commentaire</label>
								<textarea class="form-control fnMeeting" rows="3" id="fnMeetingDescription"></textarea>
							</div>

						</div>


					</div>

					<div class="card-footer d-flex justify-content-end align-items-center bg-light">

						<button class="btn btn-primary px-4" id="btnCreateMeeting" type="button">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>




{% endblock %}
{% block addjs %}
	<script>

		$(function () {

			let btnCreatePatient = $('#btnCreatePatient'), btnCreateMeeting = $('#btnCreateMeeting')


			function CreatePatient() {

				let form = JSON.stringify({
				nom: $('#fnPatientNom').val(),
				prenom: $('#fnPatientPrenom').val(), 
				contact: $('#fnPatientContact').val(), 
				adresse: $('#fnPatientAdresse').val()})

				console.log("form", form)
				requestPost('{{ path('patients_ctrl_create') }}', form, '.fnPatient', '#btnCreatePatient').then(() => 
				{
					iziToast.destroy();
					iziToast.success({title: 'Succès', message: "Le patient a été créé avec succès", position: 'topRight'});
					location.reload();

				});
			}

			function CreateMeeting() {

				let form = JSON.stringify({
				fk_medecin: $('#fnMeetingMedecin').val(),
				fk_patient: $('#fnMeetingPatient').val(),
				fk_assurance: $('#fnMeetingAssurance').val(),
				fk_prestation: $('#fnMeetingPrestation').val(),
				pourcentage: $('#fnMeetingPourcentage').val(),
				date_rendez_vous: $('#fnMeetingDate').val(),
				description: $('#fnMeetingDescription').val(),
				

				})

				console.log("form", form)
				requestPost('{{ path('meetings_ctrl_create') }}', form, '.fnMeeting', '#btnCreatePatient').then(() => 
				{
					iziToast.destroy();
					iziToast.success({title: 'Succès', message: "Le patient a été créé avec succès", position: 'topRight'});
					location.reload();

				});
			}

			btnCreatePatient.on('click', function () {

				CreatePatient();
			});


			btnCreateMeeting.on('click', function () {

			CreateMeeting();
			});




		})
	</script>
{% endblock %}
